@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

label {
  color: #002DA1;
  font-weight: 400;
}

input, textarea {
  padding: 3px 250px 3px 5px;
  font-size: 18px;
}

a {
  color: #000;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1002px;
  margin-top: 20px;
  height: auto;
  background: #FFFCFC;
  border: 1px solid #E7DDDD;
  box-shadow: -1px -1px 10px rgba(0, 0, 0, 0.2);
}

.our-contact {
  width: 800px;
  font-size: 23px;
  text-align: center;
  line-height: 5px;
  font-weight: 500;
}
.our-contact h4 {
  text-align: center;
  color: #17A756;
  font-size: 28px;
}

.send-msg {
  width: 800px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.send-msg h4 {
  color: #17A756;
  font-size: 28px;
}
.send-msg .the-inputs div {
  margin-top: 15px;
}
.send-msg .the-inputs input, .send-msg .the-inputs textarea {
  margin-top: 10px;
  width: 100%;
  border: solid 2px rgba(0, 0, 0, 0.6);
}
.send-msg .the-inputs input {
  height: 50px;
  border-radius: 2px;
  border: solid 2px rgba(0, 0, 0, 0.6);
}
.send-msg .the-inputs .msg-box .send-btn {
  margin: 15px 0;
  padding: 10px 23px;
  font-weight: 500;
  font-size: 22px;
  background-color: #17A756;
  border: 1px solid #E7DDDD;
  border-radius: 5px;
  cursor: pointer;
  transition: color 0.15s smooth;
}
.send-msg .the-inputs .msg-box .send-btn:hover {
  color: #E7DDDD;
}

.footer {
  background-color: rgb(36, 41, 47);
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.footer .contact-info {
  padding: 0 20px;
}
.footer .contact-info a {
  color: blue;
}
.footer .contact-info h4 {
  color: #17A756;
  font-size: 18px;
  margin: 2px;
}
.footer .contact-info p {
  color: rgb(206, 205, 205);
  margin: 0;
  font-size: 15px;
  margin-left: 10px;
}
.footer .footer-links {
  padding: 0 20px;
}
.footer .footer-links h4 {
  color: #17A756;
  font-size: 18px;
  margin: 2px;
}
.footer .footer-links a {
  color: rgb(206, 205, 205);
  display: block;
  text-decoration: none;
  font-size: 15px;
}
.footer .footer-links a:hover {
  text-decoration: underline;
}
.footer .footer-partners {
  padding: 0 20px;
}
.footer .footer-partners h4 {
  color: #17A756;
  font-size: 18px;
  margin: 2px;
}
.footer .footer-partners img {
  width: 130px;
}